{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
  
<body style="background-image: url('/static/images/backbody.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100%;">
    <ul style="border-radius: 10px; position: sticky; top: 5px;">
      <form class = "find-element" action="find" method="get" enctype="multipart/form-data">
        <br><br>
        <li><a class="active" href="#home">Выберите получателей</a></li>
        {% csrf_token %}
        <li><a href="#news">
          <input name="search" type="text">
          <input type="submit" value="🔍">
        </a></li>
      </form>
      <br>
      <div class="card" style = "width: 160px; height: 10px;">
      </div>
    </ul> 
    {% block content %}{% endblock %}
    <br><br><br><br><br><br><br><br>
</body>
</html>