{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
  
<body style="background-image: url('/static/images/backbody.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat">
  <div>
    <ul style="border-radius: 10px; position: sticky; top: 5px;">
      <form class = "find-element" action="" method="get" enctype="multipart/form-data">
        <br><br>
        <li><a class="active">Выберите получателей</a></li>
        <li><a>🔔</a></li>
        <li><a>Профиль</a></li>
        {% csrf_token %}
        <li><a>
          <input name="recipient_sch" type="text", value="{{data.input}}">
          <input type="submit" value="🔍">
        </a></li>
      </form>
      
    </ul> 
  </div>
    {% block content %}{% endblock %}
    <br><br><br><br><br><br><br><br>
</body>
</html>