{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>Информация о получателе</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url('/static/images/backbody.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <ul style="border-radius: 10px;">
      <li><h2><a class="active" href="#home">{{ data.recipients.title }}</a></h2></li>
    </ul>
    <br>
    <div class = "card-container">
      <div class = "card" style="background-color: aliceblue; width: 21%;">
      <img src="{% static data.recipients.img %}" alt="Image">
      <p class = "title-text">Эл. почта: {{data.recipients.email}}
        <br>
        Дата рождения: {{data.recipients.BDate}}<br>
        Пол: {{data.recipients.sex}}
      </p>
      </div>
      <div class = "card" style="width: 72%; background-color: #333;">
        <p class = "title-text" style="color: aliceblue;">
          Здесь будет какое-то описание<br>
          Может быть список отправленных файлов, которыми мы поделились с этим получателем
        </p>
      </div>
  </div>
    
</body>
</html>